

*{
    padding: 0;
    margin: 0;
}
.container{
}

html{
    scroll-behavior: smooth;
  
}
body{
    background-color: #e12d30;
    background-image: url(/IMG/background.jpg);
    background-size: 100%;
    background-repeat: repeat-y;
    font-size: 16px;
    overflow-x: hidden;

    max-width: 100%;
}
#particles-js{
  
    width: 100%;
    height:100vh;
    position:fixed;
    z-index: -1;

}
.page-header{
    position: fixed;
    background-color: black;
    width: 100%;
    opacity: 0.8;
    z-index: 9999;
}
.nav-menu{
    width: 100%;
    z-index: 9999;
}
.nav-menu ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
.logo{
    position: absolute;
    top: 0;
    width: 10em;
}
.nav-menu ul li a{
    
    text-decoration: none;
    display: block;
    font-size: 2em;
    font-family: 'Bebas Neue', cursive;
    margin: 0 1.25em 0 1.25em;
    color: #feeed4;
    transition: all 0.1s ease-out;
 
}
.nav-menu ul li a:hover{
    color: white;  
    border-top: 0.1875em solid white;
}

.nav-menu h2{
    font-size: 3.75em;
}

.menu-productos{
    font-size: 2rem;
    width: 100%;
    background-color: #feeed4;
   
}
.menu-productos ul{   
    width: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: .3rem;
    border: 1px solid black;
}
.menu-productos ul li a{
    width: 100%;
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    color: black;
    padding:.3rem;
    margin-left: .5rem;
    margin-right: .5rem;
  }

.menu-productos ul li a:hover{
    border-bottom: 1px solid black;
    font-size: 1.9rem;
    color: darkred;
}

.n-hamburguesas{
    margin-top: 5%;
    text-align: center;
    width: 100%;
}

.n-hamburguesas h2{
    text-transform: uppercase;
    font-size:7.25em;
    font-family: 'Bebas Neue', cursive;
    color: #feeed4;
}
.n-hamburguesas h3{
    font-family: 'Bebas Neue', cursive;
    font-size: 3em;
    color: #feeed4;
}
.n-hamburguesas h2:hover, .n-hamburguesas h3:hover{
    color: black;
    
}
.cajas-hamburguesas{
    width:74em;
    z-index: 1;
    margin: auto;
    margin-top: 2rem;
}
.cajas-hamburguesas h2{
    font-size:  2.5rem;
    font-family: 'Bebas Neue', cursive;
    padding-left:.5rem;
    color: #e12d30;
    border-bottom: 1px solid black;
}
.cajas-hamburguesas h3{
    display: inline-block;
    font-size: 2rem;
    font-family: 'Rajdhani', sans-serif;
    padding: .5rem;
    
    
}
.cajas-hamburguesas h4{
    font-size: 3rem;
    padding-right: .5rem;
    padding-top: 0.5rem;
    color: rgb(32, 32, 32);
    text-align: right;
    font-family: "Bebas Neue", cursive;
}
.cajas-hamburguesas h5{
    font-family: "Bebas Neue", cursive;
    font-size: 3rem;
    text-align: center;
    color: #e3f822;
    background-color: rgb(31, 31, 31);
}
.cajas-hamburguesas h6{
    font-family: "Bebas Neue", cursive;
    font-size: 2.5rem;
    padding: .5em;
    border-bottom: 1px solid black;
}
.extras{
    font-size: 2em;
    text-align: center;
    font-family: "Bebas Neue",cursive;
    width: 100%;
    background-color: #feeed4;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.caja-1, .caja-2, .caja-3, .caja-4, .caja-5, .caja-6, .caja-7{
    display: flex;
    position: relative;
    
}
.hamb-1, .hamb-2, .hamb-3,  .hamb-4,.hamb-5, .hamb-6{
    transition: all 10s;
    border: 1px solid black;
    border-radius:  0 5em 0 5em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    width: 35em;
    height: 100%;
    background-color: rgb(250, 231, 212);
    position: relative;
    
}
.hamb-1 img, .hamb-2 img,.hamb-3 img,.hamb-4 img, .hamb-5 img,  .hamb-6 img{
    border-radius:0 5em 0 0;
    width: 35em;
    height: 30em;
    line-height: 0;
    z-index: 99; 
}
.logo-slider{
    margin-top: 10em;
    position: absolute;
    width: 100%;
    z-index: 1;
}
._button{
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 100vh;
    text-align: ;
    display:flex ;
    align-items: center;
}
._button a{
    margin: auto;
    margin-top: 50%;
    padding-left: 2.5em;
    padding-right: 2.5em;
    padding-top: .3em;
}

.slider{
    position: relative;
    height: 100%;
    width: 100%;
    line-height: 0;
    overflow: hidden;
}
.blondie-puerta{
    display: none;
    width: 100%;

    line-height: 0;
}
.slider ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 20s infinite alternate;
    animation-timing-function: ease-in;
}
.slider li{

    width: 100%;
    list-style: none;
}
.slider img{
    width: 100%;
    
}
.blondiecraftbar{
    width: 100%;
    line-height: 0;
}
.menu-celulares{ 
    display: none;
    width: 100%;
    height: 5em;
    background-color: #feeed4;
}
.menu-icon{
    float: right;
    display: none;
    font-family: "Bebas Neue",cursive;
    align-items: center;
    height: 100%;
    margin-right: 5%;
    color: #e12d30;
  
    cursor: pointer;
}
.menu-icon h2{
    font-size: 5em;
    color: #e12d30;
    display: inline;
    
}
.menu-icon i{
    margin-left: .5em;
    display: inline;
    font-size: 5em;
}

.blondiecraftbar img{
    margin: 0;
    width:inherit;
    border-top: 3px solid black;
}

@keyframes cambio {
    0% { margin-left: 0; }
    20% { margin-left: 0; }

    25% { margin-left: -100%; }
    45% { margin-left: -100%; }

    50% { margin-left: -200%; }
    70% { margin-left: -200%; }

    75% { margin-left: -300%; }
    100% { margin-left: -300%; }
}

.whatsapp{
    position: fixed;
    z-index: 99;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 10em;
    transition: all 0.1s ease-in;
}
.whatsapp img{
    margin: 1em;
    float: left;
    width: 8em;
    transition: all 0.1s ease-in;
}
.whatsapp i{
    margin: .5rem ;
    font-size: 8em;
    float: right;
    color: black;
}
.whatsapp img:hover{
    width: 10em;
}
.footer{
    background-color: black;
    width: 100%;

}
.footer ul{
    display: flex; 
    font-size: 1.875em;
    list-style: none;
    justify-content: center;
    
}
.footer ul li{
    margin: 1%;
}
.footer ul a{
    font-family: "Bebas Neue", cursive;
    color: #feeed4;
    text-decoration: none;
    
}
/*MEDIA QUERYS*/
@media (max-width: 1024px){
    body{
        font-size: 10px;
    }
}
@media (max-width: 992px){
    body{
        font-size: 8px;
    }
    .cajas-hamburguesas{
        width: 100%;
    }
    .caja-1, .caja-2, .caja-3, .caja-4, .caja-5, .caja-6, .caja-7{
        display: block;
    }
    .caja-7 .hamb-6{
        width: 80%;
        height: 100%;
    }
    .hamb-1, .hamb-2, .hamb-3, .hamb-4, .hamb-5, .hamb-6{
        width: 80%;
        height: 100%;
        border-radius: 3em;
    }
    .hamb-1 img, .hamb-2 img,.hamb-3 img,.hamb-4 img, .hamb-5 img,  .hamb-6 img{
        width: 100%;
        height: 80%;
        border-radius: 3em 3em 0 0;
    }
    .menu-productos{
        display: flex;       
    }
    .menu-productos ul{
        display: none;
        list-style: none;
        font-family: "Bebas Neue"; cursive;
        max-width:100%;
       
    }
    .menu-productos ul.show{
        display: block;
    }
    .menu-celulares{
        display: block;
    }
    .menu-icon{
        display: block;
    }
    .menu-productos ul li{
        display: block;
        padding: 0;
    }

    .blondie-puerta{
        display: block;
        
    }
    ._button a{
        margin: auto;
    }
    
}   