

*{
    padding: 0;
    margin: 0;
}
.container{
    z-index: -1;
}

html{
    scroll-behavior: smooth;
  
}
body{
    background-color: #e12d30;
    background-image: url(/IMG/background.jpg);
    background-size: 100%;
    background-repeat: repeat-y;
    font-size: 16px;
    overflow-x: hidden;
    max-width: 100%;
}
#particles-js{
  
    width: 100%;
    height:100vh;
    position:fixed;
    z-index: -1;

}
.page-header{
    position: fixed;
    background-color: black;
    width: 100%;
    opacity: 0.8;
    z-index: 99;
}
.nav-menu{
    width: 100%;
    z-index: 99;
}
.nav-menu ul{
    display: flex;
    justify-content: center;
    list-style: none;
    width: 100%;
    
}
.nav-menu ul li a{
    
    text-decoration: none;
    display: block;
    font-size: 2em;
    font-family: 'Bebas Neue', cursive;
    margin: 0 1.25em 0 1.25em;
    color: #feeed4;
    transition: all 0.1s ease-out;
 
}
.nav-menu ul li a:hover{
    color: white;  
    border-top: 0.1875em solid white;
}
.logo{  
    z-index: 2999;
    position: fixed;
    width: 8em;
    transition: all 0.1s ease-in;
}
.logo:hover{
    width: 10em;
    
}
.nav-menu h2{
    font-size: 3.75em;
}

.menu-productos{
   
    width: 100%;
    background-color: #feeed4;
    border-top: 0.1875em solid black;
    border-bottom: 0.1875em solid black;
}
.menu-productos ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-right: 1em;
    padding-left: 1em;


    

}
.menu-productos ul li a{
    
    
    width: 100%;
    text-decoration: none;
    font-size: 3em;
    font-family: 'Bebas Neue', cursive;
    color: black;
    margin-left: .5em;
    margin-right: .5em;
    

  }

.menu-productos ul li a:hover{
    border-bottom: 1px solid black;
    font-size: 2.75em;
    color: rgb(219, 37, 37);
}

.n-hamburguesas{
    margin: auto;
    margin-top: 5%;
    text-align: center;
    width: 100%;
}

.n-hamburguesas h2{
    text-transform: uppercase;
    font-size:6.25em;
    font-family: 'Bebas Neue', cursive;
    color: #feeed4;
}
.n-hamburguesas h3{
    font-family: 'Bebas Neue', cursive;
    font-size: 3.125em;
    color: #feeed4;
}
.n-hamburguesas h2:hover, .n-hamburguesas h3:hover{
    color: black;
    
}
.cajas-hamburguesas{
    width:74em;
    z-index: 1;
    margin: auto;
    margin-top: 2em;


}
.cajas-hamburguesas h2{
    font-size:  2.5em;
    font-family: 'Bebas Neue', cursive;
    padding-left:.5em;
    color: #e12d30;
    border-bottom: 1px solid black;
}
.cajas-hamburguesas h3{
    font-size: 2em;
    font-family: 'Rajdhani', sans-serif;
    padding: .5em;
    height: 4em;
    
}
.cajas-hamburguesas h4{
    
    font-size: 3.125em;
    padding-right: .5em;
    padding-top: 0.5em;
    color: black;
    text-align: right;
    font-family: "Bebas Neue", cursive;
}
.cajas-hamburguesas h5{
    font-family: "Bebas Neue", cursive;
    font-size: 3.125em;
    text-align: center;
    color: #e3f822;
    background-color: rgb(31, 31, 31);
}
.cajas-hamburguesas h6{
    font-family: "Bebas Neue", cursive;
    font-size: 1.875em;
    padding: .5em;
    border-bottom: 1px solid black;
}
.caja-7 .hamb-6{
    height: 75em;
}
.extras{
    font-size: 1.70em;
    text-align: center;
    font-family: "Bebas Neue",cursive;
    width: 100%;
    background-color: #feeed4;
    margin-bottom: 3em;
    margin-top: 3em;
}

.caja-1, .caja-2, .caja-3, .caja-4, .caja-5, .caja-6, .caja-7{
    display: flex;
    position: relative;
    
}
.hamb-1, .hamb-2, .hamb-3,  .hamb-4,.hamb-5, .hamb-6{
    transition: all 10s;
    border: 1px solid black;
    border-radius:  0 5em 0 5em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    width: 35em;
    height: 53em;
    background-color: rgb(250, 231, 212);
    position: relative;
    
}
.hamb-1 img, .hamb-2 img,.hamb-3 img,.hamb-4 img, .hamb-5 img,  .hamb-6 img{
    border-radius:0 5em 0 0;
    width: 35em;
    height: 30em;
    line-height: 0;
    z-index: 99; 
}
.logo-slider{
    margin-top: 10em;
    position: absolute;
    width: 100%;
    z-index: 1;
}
._button{
    position: absolute;
    
    width: 100%;
    top: 85%;
    text-align: center;
}
._button a{
    position: absolute;
}

.slider{
    position: relative;
    height: 100vh;
    width: 100%;
    line-height: 0;
    overflow: hidden;
}
.blondie-puerta{
    width: 100%;
    display:none;
}
.slider ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 20s infinite alternate;
    animation-timing-function: ease-in;


}
.slider li{

    width: 100%;
    list-style: none;
}
.slider img{
    width: 100%;
    
}
.blondiecraftbar{
    width: 100%;
    line-height: 0;
}
.menu-icon{
    display: none;
}
.blondiecraftbar img{
    margin: 0;
    width:inherit;
    border-top: 3px solid black;
}
@keyframes cambio {
    0% { margin-left: 0; }
    20% { margin-left: 0; }

    25% { margin-left: -100%; }
    45% { margin-left: -100%; }

    50% { margin-left: -200%; }
    70% { margin-left: -200%; }

    75% { margin-left: -300%; }
    100% { margin-left: -300%; }
}

.whatsapp{
    position:fixed;
    z-index: 99;
    right: 0;
    bottom: 0;
    margin: 1em;
    transition: all 0.1s ease-in;
}
.whatsapp img{
    width: 10em;
    transition: all 0.1s ease-in;
}
.whatsapp img:hover{
    width: 13em;
}
.footer{
    background-color: black;
    width: 100%;

}
.footer ul{
    display: flex; 
    font-size: 1.875em;
    list-style: none;
    justify-content: center;
    
}
.footer ul li{
    margin: 1%;
}
.footer ul a{
    font-family: "Bebas Neue", cursive;
    color: #feeed4;
    text-decoration: none;
    
}
/*MEDIA QUERYS*/
@media (max-width: 1024px){
    body{
        font-size: 10px;
    }
}
@media (max-width: 992px){
    .#particles-js{
        
    }
    .body{
        font-size:8px
    }
    .cajas-hamburguesas{
        width: 100%;
        border: 1px solid black;
        
       
    }
    .cajas-hamburguesas h3 {
        display: inline-block;
        right: 0;
        bottom: 0;
        margin: auto;
        text-align: left;
    }
 
    .hamb-1, .hamb-2, .hamb-3,  .hamb-4,.hamb-5, .hamb-6{
        overflow: auto;
        margin: auto;
        border-radius: 1em;
        margin-bottom: 2em;
        width: 30em;
        height: 35em;
    }
    .caja-1, .caja-2, .caja-3, .caja-4, .caja-5, .caja-6, .caja-7{
        display: block;

    }
  
    .hamb-1 img, .hamb-2 img,.hamb-3 img,.hamb-4 img, .hamb-5 img,  .hamb-6 img{
        width: 30em;
        height: 22em;
    }
    .menu-productos{
        display: flex;       
    }
    .menu-productos ul{
        display: none;
        list-style: none;
        font-family: "Bebas Neue"; cursive;
        font-size: 0.7em;
        max-width:100%;
       
    }
    .menu-productos ul.show{
        display: block;
    }
    .menu-icon{
        z-index: 999;
        width: 5em;
        height: 5em;
        border: 3px solid red;
        display: block;
        position: absolute;
        right: 0;
        color: white;
        background-color: black;
        cursor: pointer;
    }
    .menu-productos ul li{
        display: block;
        padding: 0;
    }
    .slider{
        height: 100%;
    }
    .blondie-puerta{
        display: block;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
        width: ;
    }

}   